<div class="container center">
  <div class="row">
      <div class="col-md-3 offset-md-2 ">
            <button class="buttonStile btn btn-light" [routerLink]="['/']">
              <h5><i class="fa-solid fa-database" style="color:#2bb36a"></i> Reqres</h5>
            </button>
      </div>
      <div class="col-md-2 offset-md-3">
         <button class="buttonStile btn btn-light" [routerLink]="['/nasa']">
           <h5><i class="fa-solid fa-rocket" style="color:#518ac6"></i> Nasa</h5>
          </button>
      </div>
  </div>
</div>
<hr>
<router-outlet></router-outlet>
